body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #b8cad2;
  font-family: 'Lato', sans-serif;
}

button:focus{
  outline:0;
}

#loginText h3 {
  color: white;
  font-weight: 600;
}


.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root{
  width: 100%;
  height: 100%;
}
